body {
    background-image: url(bgimage.jpeg);
    background-size: cover;
}

h2 {
    color: #EDB400;
    border: 5px solid cyan;
    text-align: center;
}

p {
    color: #FFC200;
}

a {
    color: aliceblue;
}

li {
    display: inline-block;
}