h2 {
    color: rgb(27, 3, 180);
}

p {
    color: green;
}

.header {
    border: 3px dashed rgb(30, 86, 86);
    background-color: rgba(39, 111, 0, 0.2);
    text-align: center;
}

#para {
    text-align: justify;
    color: rgb(56, 5, 104);
    line-height: 20px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}